.layout-tabs-container {
  padding: 0 16px;

  .ant-tabs {
    .ant-tabs-nav {
      margin-bottom: 0;
    }

    .ant-tabs-ink-bar {
      visibility: visible;
    }

    .ant-tabs-tab {
      border: none;
    }
  }
}
