.search-form {
  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-picker-range {
    width: 330px;
  }

  .ant-input-affix-wrapper {
    width: 200px;
  }

  .ant-select {
    width: 200px;
  }
}
