.search-form {
  .ant-form-item {
    flex: 1;
    flex-basis: 180px;
    max-width: 280px;
    margin-bottom: 16px;

    &:has(.ant-picker-range) {
      flex-basis: 330px;
      max-width: 430px;
    }
  }

  .ant-picker-range {
    width: 100%;

    // max-width: 330px;
  }

  // .ant-input-affix-wrapper {
  //   max-width: 180px;
  // }

  // .ant-select {
  //   max-width: 180px;
  // }
}
