.light {
  .lp-admin {
    --admin-bg-1: #fff;
    --admin-bg-2: rgb(247 250 252);
    --admin-bg-3: rgb(0 0 0 / 2%);
    --admin-border-1: #f0f0f0;
    --ant-layout-sider-bg: var(--admin-bg-1);
    --ant-layout-header-bg: var(--admin-bg-1);
    --ant-table-row-expanded-bg: var(--admin-bg-2);
  }
}
